.candidate {
    background-image: url("/assets/red-background.png");
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.btn {
    border: solid #00a2df;
}

.btn:hover {
    border-color: red;
}

.btn-Iam {
    border: solid white;
}

.company {
    background-color: #00a2df;
}
.team {
    background-color: #00a2df;
}

div.temp-navbar {
    font-size: x-small;
    color: white;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: row;
}

/* .container-fluid a {
    text-decoration: none !important;
    color: white;
} */

.text-underline-hover {
    text-decoration: none;
}

.text-underline-hover:hover {
    text-decoration: underline;
}

a:not([class]) {
    text-decoration: none;
}

a:not([class]):hover {
    text-decoration: underline;
}

